.app{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.app-header{
  height: 120px;
  padding: 20px 15%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#fff;
  z-index: 5;
}

.expand-down{
  animation: expand-down 700ms forwards ease-out;
}

.humburger{
  position: absolute;
  display: none;
  cursor: pointer;
  top: 20px;
  right: 0;
}

.nav-item{
  padding: 5px 10px;
}
.nav-item a{
  font-size: 18px;
}

.nav-item a:hover{
  text-decoration: none;
}
.nav-item:hover a{
  padding: 10px 15px;
  background-color: #F8333C;
  border-radius: 10px;
  color: white;
  transition:500ms ease-out;
}

.cs-clink{
  opacity: 1;
  font-weight: 400;
  color: #424242;
  animation: cursor-blink 1200ms infinite forwards;
}

.face-wrap{
  width: 40%;
}
.quote{
  width: 60%;
}

.quote-wrap{
  width: 100%;
  animation: slide-left 1200ms forwards ease-in-out;
}

.greet{
  margin-top: 160px;
  height: 150px;
}
.happy-face-slide-animate{
  width: 120px;
  height: 120px;
  animation: slide-right 800ms forwards ease-in-out;
}


.happy-face{
  width: 100%;
  height: 100%;
  position: relative;
  animation: logo-rotate 4000ms 1200ms infinite  forwards ease-in-out;
}

.smile{
  position: absolute;
  top:65%;
  left: 50%;
  width: 65%;
  transform: translateX(-50%);
  animation: smile 4000ms 2500ms infinite forwards ease-in;
}

.greet-quote{
  font-size: 36px;
  font-weight: bold;
}

.tech-quote{
  font-size: 32px;
  font-weight: bold;
}

.moved-down{
  animation: move-down 700ms forwards ease-out;
}

.hero{
  width: 60%;
}

@media screen and (max-width:767px){
  .app{
    height: auto;
    margin-bottom: 50px;
  }
  .logo img{
    height: 50% !important;
  }

  .greet{
    height: 100px;
    line-height: 1;
  }
  .face-wrap{
    width: 35%;
  }
  .quote{
    width: 65%;
  }
  .happy-face-slide-animate{
    width: 80px;
    height: 80px;
  }

  .happy-face{
   margin-right: 20px
  }
   .greet-quote{
     font-size: 26px;
   }

   .tech-quote{
     font-size: 22px;
   }

   .humburger{
     display: block;
   }

   .collapsed-navbar{
    position: absolute;
    top: 0px;
    left:50%;
    transform: translateX(-70%);
    animation: drop-down 600ms forwards ease-in;
  }
  
  .collapsed-navbar .nav-item a{
    font-size: 18px;
    padding: 10px 15px;
  }
  
  .hero{
    width: 80%;
  }
}
@media screen and (max-width:576px){
  .happy-face-slide-animate{
    width: 60px;
    height: 60px;
  }
  .happy-face{
   margin-right: 15px
  }

   .greet-quote{
     font-size: 20px;
   }

   .tech-quote{
     font-size: 16px;
   }
}

@keyframes cursor-blink{
  0%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes move-down{
  0%{
    margin-top: 150px;
  }
  100%{
    margin-top: 220px;
  }
}
@keyframes expand-down{
  0%{
    height:120px;
  }
  100%{
    height: 180px;
  }
}

@keyframes text-zoom-in{
  0%{
    font-size: 5px;
  }
  100%{
    font-size: 18px;
  }
}

@keyframes drop-down{
  0%{
    top: 40px;
  }
  100%{
    margin-top: 80px;
  }
}
@keyframes slide-right{
  0%{
    margin-right: 1000px;
  }
  100%{
    margin-right: 7%;
  }
}
@keyframes slide-left{
  0%{
    margin-left: 100%;
  }
  100%{
    margin-left: 0%;
  }
}

@keyframes logo-rotate{
  0%{
    transform: rotate(0deg);
  }
  8%{
    transform: rotate(-180deg);
  }
  30%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes smile{
  0%{
    width: 0%;
    top: 75%;
  }
  10%{
    width: 65%;
    top: 65%;
  }
  100%{
    width: 65%;
    top: 65%;
  }
}