.footer{
    width: 100%;
    height: 10vh;
    max-width: auto;
}

.happy-face_footer{
    width:50px;
    height:50px;
    position: relative;
    animation: nudge 15000ms 1600ms infinite backwards ease-in
}

.smile_footer{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    animation: smile 7000ms 500ms infinite backwards ease-in
}



@media (max-width:576px ){
  .happy-face_footer{
    animation: nudge-small 8000ms 1600ms infinite backwards ease-in
  }

  .smile_footer{
    animation: smile 4000ms 500ms infinite backwards ease-in
}
}

@keyframes smile{
    0%{
      width: 0%;
      top: 75%;
    }
    8%{
      width: 65%;
      top: 65%;
    }
    100%{
      width: 65%;
      top: 65%;
    }
  }

  @keyframes nudge {
    0%{
      margin-left: 10%;
      transform: rotate(0deg);
    }
    
    25% {
      margin-left: 80%;
      transform: rotate(1800deg);
    }
    50% {
      margin-left: 80%;
      transform: rotate(1800deg);
    }
    
    75% {
      margin-left: 10%;
      transform: rotate(0deg);
    }
    100% {
      margin-left: 10%;
      transform: rotate(0deg);
    }
  }

  @keyframes nudge-small {
    0%{
      margin-left: 10%;
      transform: rotate(0deg);
    }
    
    25% {
      margin-left: 80%;
      transform: rotate(1080deg);
    }
    50% {
      margin-left: 80%;
      transform: rotate(1080deg);
    }
    
    75% {
      margin-left: 10%;
      transform: rotate(0deg);
    }
    100% {
      margin-left: 10%;
      transform: rotate(0deg);
    }
  }