@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: "Raleway", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-orange{
  color: #F8333C;
}

.header-text{
  font-size: 26px;
  font-weight: bold;
}

.title-text{
  font-size: 18px;
  font-weight: bold;
}

.btn-primary-outline_white{
  font-weight: 900;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 20px;
}

.btn-primary-outline_white:hover {
  background-color: #fff;
  color: #F8333C;
  text-decoration: none;
  transition: 300ms ease;
}