.teches{
    width: 100%;
    background-color: #F8333C;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teches-wrap{
    width: 80%;
    height: 70%;
}

.tech-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.tech-img{
    height:100px;
}

.tech-wrap {
    font-size: 26px;
    margin-top: 10px;
    color: #fff;
}

@media (max-width:576px ){
    .tech-img{
        height:80px;
    }
    .tech-wrap p{
        font-size: 16px;
    }
}