.app-header{
  height: 120px;
  padding: 20px 15%;
}

.humburger{
  display: none;
  cursor: pointer;
}

.nav-item{
  padding: 5px 10px;
}
.nav-item a{
  font-size: 18px;
}

.nav-item a:hover{
  text-decoration: none;
}
.nav-item:hover a{
  padding: 10px 15px;
  background-color: #F8333C;
  border-radius: 10px;
  color: white;
  transition:500ms ease-out;
}

.cs-clink{
  opacity: 1;
  font-weight: 400;
  color: #424242;
  animation: cursor-blink 1200ms infinite forwards;
}

.face-wrap{
  width: 35%;
  animation: slide-right 1000ms forwards ease-in-out;
}
.quote-wrap{
  width: 65%;
  animation: slide-left 1200ms forwards ease-in-out;
}

.greet{
  height: 150px;
}

.happy-face{
  width: 120px;
  height: 120px;
  margin-right: 30px
}

.greet-quote{
  font-size: 36px;
  font-weight: bold;
}

.tech-quote{
  font-size: 32px;
  font-weight: bold;
}

.moved-down{
  animation: move-down 700ms forwards ease-out;
}


@media screen and (max-width:767px){
  .greet{
    height: 100px;
  }
  .happy-face{
    width: 80px;
   height: 80px;
   margin-right: 30px
  }

   .greet-quote{
     font-size: 26px;
   }

   .tech-quote{
     font-size: 22px;
   }

   .humburger{
     display: block;
   }

   .collapsed-navbar{
    position: absolute;
    top: 0px;
    left:50%;
    transform: translateX(-50%);
    animation: drop-down 600ms forwards ease-in;
  }
  
  .collapsed-navbar .nav-item a{
    font-size: 18px;
    padding: 10px 15px;
  }
  
}
@media screen and (max-width:576px){
  .happy-face{
    width: 60px;
   height: 60px;
   margin-right: 20px}

   .greet-quote{
     font-size: 20px;
   }

   .tech-quote{
     font-size: 16px;
   }
}

@keyframes cursor-blink{
  0%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes move-down{
  0%{
    margin-top: 50px;
  }
  100%{
    margin-top: 100px;
  }
}

@keyframes text-zoom-in{
  0%{
    font-size: 5px;
  }
  100%{
    font-size: 18px;
  }
}

@keyframes drop-down{
  0%{
    top: 40px;
  }
  100%{
    margin-top: 80px;
  }
}
@keyframes slide-right{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
@keyframes slide-left{
  0%{
    margin-left: 100%;
  }
  100%{
    margin-left: 0%;
  }
}