body {
  margin: 0;
  font-family: "europa", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-orange{
  color: #F8333C;
}